<aside class="sidebar sidebar-sticky sidebar-main">
  {% if show_viewer %}
  <div class="widget sidebar-widget widget__product-view-options">
    <p><strong>Ver como</strong></p>
    {% include '_view-options.twig' %}
  </div>
  {% endif %}
  {% if categories | length > 0 %}
  <div class="widget sidebar-widget">
    <dl>
      <dt>Categorías</dt>
      {% for categoryElement in categories %}
        {% include '_category_tree_item.twig' with {
          'category' : categoryElement,
          'current'  : category
        } only %}
      {% endfor %}
    </dl>
  </div>
  {% else %}
      Por el momento no hay categorías.
  {% endif %}
  <div class="widget sidebar-widget">
    <dl>
      <dt>Colecciones</dt>
      {% for collectionElement in collections %}
        {% include '_category_tree_item.twig' with {
          'collection' : collectionElement,
          'current'  : collection
        } only %}
      {% endfor %}
    </dl>
  </div>
</aside>
