.minitop-banner {
  display: block;
  max-height: 34px;
  width: 100%;
  &__link {
    display: block;
    padding: 0;
  }
  &__text {
    margin: 0;
    padding: 6px 0;
    text-align: center;
  }
}
