<div class="btn-group" role="group" aria-label="Acomodo de lista">
  <button type="button" class="view-option view-grid">
    <i class="zmdi zmdi-view-module"></i><span class="hidden-xs">&nbsp;Retícula</span>
  </button>
  <button type="button" class="view-option view-list">
    <i class="zmdi zmdi-view-list"></i><span class="hidden-xs">&nbsp;Lista</span>
  </button>
</div>
