{% extends 'layout.twig' %}
{% block body_class %}category products has-sidebar{% endblock body_class %}

{% block body %}
<section class="featured-block {{ settings.gradient_pages }}">
  <div class="container">
    <h1 class="title">{{ category.title }}</h1>
    {% if category.summary is defined %}
    <p>{{ category.summary }}</p>
    {% endif %}
  </div>
</section>
<div class="container">
  <div class="mobile__product-view-options" role="toolbar" aria-label="Herramientas de listado de productos">
    {% include '_view-options.twig' %}
    <select id="mobile-sort" class="selectpicker show-tick" title="Filtrar productos" data-icon-base="zmdi" data-tick-icon="zmdi-check">
      {% include '_filter-options.twig' %}
    </select>
  </div>
  <div class="clearfix"></div>
  <br><br class="hidden-xs">
  <div class="row">
    <div class="wrapper__main-content">
      {% if products | length > 0 %}
      <section class="product-list prod-grid__4">
        {% for product in products %}
        {% include '_product-item.twig' %}
        {% endfor %}
        <br><br>
        <div class="clearfix"></div>
        {% include '_pagination.twig' %}
      </section>
      {% else %}
      <section class="product-list prod-grid__4 text-center">
        <p class="lead">No existen productos en esta categoría</p>

      </section>
      {% endif %}
    </div>
    <div class="wrapper__side-content">
      {% include '_sidebar.twig' with { 'show_viewer' : true } %}
    </div>
  </div>
</div>
{% endblock body %}
